In [1]:
print("tú bê đê")

tú bê đê

In [1]:
import pandas as pd
#test2 = pd.read_csv("C:\\Users\\admin\\Desktop\\test2.csv",encoding = "UTF-8")
test2 = pd.read_excel("test2.xlsx", sheet_name=None)
print(test2)

{'Sheet1':                  Ngay_ct  month        So_ct  \
0    2020-03-01 00:00:00    NaN            3
1    2020-03-01 00:00:00    NaN            4
2    2020-03-01 00:00:00    NaN            5
3    2020-03-01 00:00:00    NaN            6
4    2020-03-01 00:00:00    NaN          320
..                   ...    ...          ...
333           30/06/2020    NaN  ADJ2006-006
334           30/06/2020    NaN  ADJ2006-006
335           30/06/2020    NaN  ADJ2006-006
336           30/06/2020    NaN  ADJ2006-006
337           30/06/2020    NaN  ADJ2006-006

                                          Ten_kh                Dien_giai  \
0                      Công ty TNHH FCC Việt Nam        SOLD OUT TO 01FCC
1    Công ty TNHH Nidec Sankyo Việt Nam (Hà Nội)     SOLD OUT TO 02SANKYO
2             Công ty TNHH Yamaha Motor Việt Nam       SOLD OUT TO 01YMVN
3             Công ty TNHH Yamaha Motor Việt Nam       SOLD OUT TO 01YMVN
4                              Ihara MFG Co,.LTD  SOLD OUT TO IMJ, IV.320
..                                           ...                      ...
333                                          NaN        Turnover transfer
334                                          NaN        Turnover transfer
335                                          NaN        Turnover transfer
336                                          NaN        Turnover transfer
337                                          NaN        Turnover transfer

         Tk   Tk_du  Ps_no_nt  Ps_co_nt Ma_nt  Ty_gia      Ps_no      Ps_co
0     51111  131114         0       0.0   NaN    1.00          0   99717420
1     51122  131114         0       0.0   NaN    1.00          0  154713600
2     51111  131114         0       0.0   NaN    1.00          0   25364200
3     51111  131114         0       0.0   NaN    1.00          0  201781350
4     51122  131111         0     900.0   JPY  211.49          0     190341
..      ...     ...       ...       ...   ...     ...        ...        ...
333  511122    1541         0       0.0   NaN    1.00          0          0
334  511123    1542         0       0.0   NaN    1.00          0          0
335  511124    1542         0       0.0   NaN    1.00          0          0
336   51121     911         0       0.0   NaN    1.00  247507140          0
337  511121     911         0       0.0   NaN    1.00    7682685          0

[338 rows x 13 columns]}

In [11]:
#cleaning data: bỏ dấu phẩy ở cột Ps_co
test2 = test2.replace(',','', regex=True)
print(test2.head())

                                        Ten_kh     Tk   Tk_du Ps_no  \
0                    C?ng ty TNHH FCC Vi?t Nam  51111  131114     0
1  C?ng ty TNHH Nidec Sankyo Vi?t Nam (H? N?i)  51122  131114     0
2           C?ng ty TNHH Yamaha Motor Vi?t Nam  51111  131114     0
3           C?ng ty TNHH Yamaha Motor Vi?t Nam  51111  131114     0
4                             Ihara MFG Co.LTD  51122  131111     0

          Ps_co
0   99717420.00
1  154713600.00
2   25364200.00
3  201781350.00
4     190341.00

In [12]:
#cleaning data: bỏ dấu phẩy ở cột Ps_co
test2 = test2.replace('\.00','', regex=True)
print(test2.head())

                                        Ten_kh     Tk   Tk_du Ps_no      Ps_co
0                    C?ng ty TNHH FCC Vi?t Nam  51111  131114     0   99717420
1  C?ng ty TNHH Nidec Sankyo Vi?t Nam (H? N?i)  51122  131114     0  154713600
2           C?ng ty TNHH Yamaha Motor Vi?t Nam  51111  131114     0   25364200
3           C?ng ty TNHH Yamaha Motor Vi?t Nam  51111  131114     0  201781350
4                             Ihara MFG Co.LTD  51122  131111     0     190341